/* reset.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Box-sizing reset */
@layer base {
	:root {
		--background: 0deg 0% 93%;
		--foreground: 0deg 0% 4%;
		--color-primary: 198deg 93% 60%;
		--primary-foreground: 0deg 0% 93%;
		--border: 0deg 0% 93%;
		--form: 215deg 20% 13%;
		--table: 0deg 0% 93%; /* Placeholder color for table */
		--table-hover: 0deg 0% 93%; /* Placeholder color for table hover */
		--card: 0deg 0% 93%; /* Placeholder color for card background */
		--card-foreground: 0deg 0% 93%;
		--btn: 0deg 0% 93%; /* Placeholder color for card foreground */
		--btn-hover: 0deg 0% 93%; /* Placeholder color for button hover */
		--tooltips: 0deg 0% 93%; /* Placeholder color for tooltips */
		--input: 0deg 0% 4%;
		--accent: 0deg 0% 100% / 7%;
		--ring: 0deg 0% 93%;
		--radius: 0.5rem;
		--sidebar-background-gradient: linear-gradient(
			to right,
			hsl(var(--color-primary)),
			var(--background)
		);
		--inventory-header-background-gradient: linear-gradient(
			to right,
			var(--accent),
			hsl(var(--form))
		);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			/* Your dark mode colors */
			--background: 0deg 0% 4%;
			--foreground: 0deg 0% 93%;
			--color-primary: 0deg 0% 93%;
			--primary-foreground: 0deg 0% 4%;
			--border: 0deg 0% 93%;
			--form: 215deg 20% 13%;
			--table: 0deg 0% 20%; /* Placeholder dark mode color for table */
			--table-hover: 0deg 0% 30%; /* Placeholder dark mode color for table hover */
			--card-background: 0deg 0% 15%; /* Placeholder dark mode color for card background */
			--card-foreground: 0deg 0% 90%;
			--btn: 0deg 0% 93%; /* Placeholder dark mode color for card foreground */
			--btn-hover: 200deg 60% 50%; /* Placeholder dark mode color for button hover */
			--tooltips: 0deg 0% 30%; /* Placeholder dark mode color for tooltips */
			--input: 0deg 0% 4%;
			--accent: 0deg 0% 100% / 7%;
			--ring: 0deg 0% 93%;
			--sidebar-background-gradient: linear-gradient(
				to right,
				var(--background),
				hsl(var(--color-primary))
			);
			--inventory-header-background-gradient: linear-gradient(
				to right,
				hsl(var(--form)),
				var(--accent)
			);
		}
	}

	:root[data-theme="dark"] {
		/* Your dark mode colors */
		--background: 0deg 0% 4%;
		--foreground: 0deg 0% 93%;
		--color-primary: 0deg 0% 93%;
		--primary-foreground: 0deg 0% 4%;
		--border: 0deg 0% 4%;
		--form: 215deg 20% 13%;
		--table: 0deg 0% 30%; /* Placeholder dark mode color for table */
		--table-hover: 0deg 0% 40%; /* Placeholder dark mode color for table hover */
		--card-background: 0deg 0% 25%; /* Placeholder dark mode color for card background */
		--card-foreground: 0deg 0% 85%;
		--btn: 0deg 0% 93%; /* Placeholder dark mode color for card foreground */
		--btn-hover: 200deg 60% 40%; /* Placeholder dark mode color for button hover */
		--tooltips: 0deg 0% 40%; /* Placeholder dark mode color for tooltips */
		--input: 0deg 0% 4%;
		--accent: 0deg 0% 100% / 7%;
		--ring: 237deg 0% 93%; /* Use the vercel-white color */
		--sidebar-background-gradient: linear-gradient(
			to right,
			var(--background),
			hsl(var(--color-primary))
		);
		--inventory-header-background-gradient: linear-gradient(
			to right,
			hsl(var(--form)),
			var(--accent)
		);
	}
}

/* Remove border when inside a focused fieldset */
/* button,
input,
select,
textarea {
	&:focus {
		outline: 0;
	}
} */

/* Image styling */
img {
	max-width: 100%;
	vertical-align: middle;
	font-style: italic;
}

/* Flexbox utility classes */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Responsive utility classes */
@media (max-width: 768px) {
	.sm-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sm-flex-column {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1024px) {
	.md-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.md-flex-column {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1280px) {
	.lg-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.lg-flex-column {
		display: flex;
		flex-direction: column;
	}
}

/* Tooltip styling */
.tooltip {
	visibility: hidden;
	position: absolute;
}

.has-tooltip:hover .tooltip {
	visibility: visible;
	z-index: 100;
}

/* Background styles for specific elements */
.sidebar-bg {
	background: rgb(15, 23, 42);
	background: linear-gradient(
		90deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(17, 0, 31, 1) 39%,
		rgba(52, 52, 52, 1) 100%
	);
}

.inventory-dashboard-header-bg {
	background: rgb(15, 23, 42);
	background: linear-gradient(
		190deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(17, 0, 31, 1) 39%,
		rgba(52, 52, 52, 1) 100%
	);
}

.header-bg {
	/* background-image: url("/circuit.png");
	background-size: contain;
	background-position: center center; */
	background-color: black;
}

/* Scrollbar styling */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #4b5563;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4a5568;
}

/* Select styling */
/* Note: You can uncomment and customize the styles for select elements */
/*
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select option {
  color: inherit;
  background-color: #e9
*/
select:focus {
	outline: none;
}

select::-ms-expand {
	display: none;
}
