/* reset.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Box-sizing reset */
@layer base {
	:root {
		--color-background: hsl(0, 0%, 98%); /* Light background */
		--color-foreground: hsl(210, 35%, 10%); /* Dark foreground text */
		--color-primary: hsl(288, 70%, 48%); /* Primary color for emphasis */
		--color-primary-foreground: hsl(
			240,
			100%,
			98%
		); /* Foreground text on primary color */
		--color-border: hsla(180, 1%, 18%, 0.171); /* Border color */
		--color-form: hsl(0, 0%, 100%); /* Form elements background */
		--color-table: hsl(0, 0%, 100%); /* Table background */
		--color-table-hover: hsl(210, 24%, 95%); /* Table hover background */
		--color-card: hsl(0, 0%, 100%); /* Card background */
		--color-card-foreground: hsl(210, 31%, 25%); /* Foreground text on card */
		--color-btn: hsl(288, 70%, 48%); /* Button background */
		--color-btnHover: hsl(204, 55%, 48%); /* Button hover background */
		--color-tooltips: hsl(192, 9%, 58%); /* Tooltip color */
		--color-input: hsl(192, 12%, 85%); /* Input background */
		--color-accent: hsla(0, 55%, 41%, 0.8); /* Light accent color */
		--color-ring: hsl(210, 20%, 89%); /* Ring color */
		--radius: 0.5rem; /* Border radius */
		/* Inventory header gradient */
	}
	/* Background styles for specific elements */
}

.sidebar-bg {
	/* background: linear-gradient(
		90deg,
		hsl(186, 43%, 82%) 0%,
		hsl(141, 24%, 90%) 39%,
		hsl(169, 34%, 92%) 100%
	); */
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
	background: linear-gradient(
		135deg,
		#eeeeee 0%,
		#eeeeee 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.inventory-dashboard-header-bg {
	background: linear-gradient(
		190deg,
		hsl(210, 22%, 95%) 0%,
		hsl(210, 22%, 90%) 39%,
		hsl(210, 26%, 97%) 100%
	);
}

.header-bg {
	/* background-image: url("/new-image.png");
    background-size: contain;
    background-position: center center; */
	background: linear-gradient(hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
}
/* Image styling */
img {
	max-width: 100%;
	vertical-align: middle;
	font-style: italic;
}

/* Flexbox utility classes */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Responsive utility classes */
@media (max-width: 768px) {
	.sm-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sm-flex-column {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1024px) {
	.md-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.md-flex-column {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1280px) {
	.lg-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.lg-flex-column {
		display: flex;
		flex-direction: column;
	}
}

/* Tooltip styling */
.tooltip {
	visibility: hidden;
	position: absolute;
}

.has-tooltip:hover .tooltip {
	visibility: visible;
	z-index: 100;
}

/* Scrollbar styling */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #4b5563;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4a5568;
}

/* Select styling */
/* Note: You can uncomment and customize the styles for select elements */
/*
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select option {
  color: inherit;
  background-color: #e9
*/
select:focus {
	outline: none;
}

select::-ms-expand {
	display: none;
}
