/* reset.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Box-sizing reset */
@layer base {
	:root {
		--background: #ededed; /* Use the vercel-white color */
		--foreground: #0a0a0a; /* Use the vercel-black color */
		--primary: #101319;
		--primary-foreground: #ededed; /* Use the vercel-white color */
		--border: #0a0a0a; /* Use the vercel-black color */
		--form: #151a22;
		--input: #0a0a0a; /* Use the vercel-black color */
		--accent: hsla(0, 0%, 100%, 0.07);
		--ring: #ededed; /* Use the vercel-white color */
		--radius: 0.5rem;
		--sidebar-background-gradient: ;
		--inventory-header-background-gradient: ;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Your dark mode colors */
		--background: #0a0a0a; /* Use the vercel-black color */
		--foreground: #ededed; /* Use the vercel-white color */
		--primary: #ededed; /* Use the vercel-white color */
		--primary-foreground: #0a0a0a; /* Use the vercel-black color */
		--border: #0a0a0a; /* Use the vercel-black color */
		--form: #151a22;
		--input: #0a0a0a; /* Use the vercel-black color */
		--accent: hsla(0, 0%, 100%, 0.07);
		--ring: #ededed; /* Use the vercel-white color */
		--sidebar-background-gradient: ;
		--inventory-header-background-gradient: ;
	}
}

/* Remove border when inside a focused fieldset */
/* button,
input,
select,
textarea {
	&:focus {
		outline: 0;
	}
} */

/* Image styling */
img {
	max-width: 100%;
	vertical-align: middle;
	font-style: italic;
}

/* Flexbox utility classes */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Responsive utility classes */
@media (max-width: 768px) {
	.sm-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sm-flex-column {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1024px) {
	.md-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.md-flex-column {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 1280px) {
	.lg-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.lg-flex-column {
		display: flex;
		flex-direction: column;
	}
}

/* Tooltip styling */
.tooltip {
	visibility: hidden;
	position: absolute;
}

.has-tooltip:hover .tooltip {
	visibility: visible;
	z-index: 100;
}

/* Background styles for specific elements */
.sidebar-bg {
	background: rgb(15, 23, 42);
	background: linear-gradient(
		90deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(17, 0, 31, 1) 39%,
		rgba(52, 52, 52, 1) 100%
	);
}

.inventory-dashboard-header-bg {
	background: rgb(15, 23, 42);
	background: linear-gradient(
		190deg,
		rgba(15, 23, 42, 1) 0%,
		rgba(17, 0, 31, 1) 39%,
		rgba(52, 52, 52, 1) 100%
	);
}

.header-bg {
	background-image: url("/circuit.png");
	background-size: contain;
	background-position: center center;
}

/* Scrollbar styling */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #4b5563;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4a5568;
}

/* Select styling */
/* Note: You can uncomment and customize the styles for select elements */
/*
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select option {
  color: inherit;
  background-color: #e9
*/
select:focus {
	outline: none;
}

select::-ms-expand {
	display: none;
}
